body {
    font-family: 'Roboto Slab', 'Microsoft YaHei', serif;
    background: #43C6AC;
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);
    background: linear-gradient(to right, #F8FFAE, #43C6AC);
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f1f2f6;
    box-shadow: 0 0 3px #00000002;
    border-radius: 20px;
}

h1 {
    background: #2ed573;
    color: #ffffff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    border-radius: 15px 15px 0 0;
}

input {
    font-size: 18px;
    background-color: #f1f2f6;
    color: #2ed573;
    font-family: 'Roboto Slab', 'Microsoft YaHei', serif;
    width: 100%;
    border: 0;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

input:focus {
    background-color: #ffffff;
    border: 2px solid #2ed573;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #ffffff;
    color: #2f3542;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {
    background-color: #f1f2f6;
}

li:last-child {
    border-radius: 0 0 15px 15px;
}

.todo-done {
    cursor: pointer;
    margin-right: 10px;
}

.todo-delete {
    cursor: pointer;
}

#id-span-delete {
    display: inline-block;
    background: #ff4757;
    color: #ffffff;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
}

li:hover #id-span-delete {
    opacity: 1;
    width: 40px;
}

.completed {
    color: #a4b0be;
    text-decoration: line-through;
}